polars==1.40.1
gpiozero==2.0.1
more-itertools==11.0.2

ipython==9.10.0
# ipython==9.12.0

torch==2.11.0
torchaudio==2.11.0

python-escpos==3.1
soundfile==0.13.1
sounddevice==0.5.5

stamina==26.1.0
httpx==0.28.1

pytube==15.0.0
parsel==1.11.0
wikipedia==1.4.0
langchain_community==0.4.1
youtube_transcript_api==1.2.4

replicate==1.0.7
cairosvg==2.9.0

# Bas packages
hailo_apps==2.0.1
sensehat_dsp==2.0.0

# Aureka packages
multi_agents==2.0.1
llm_agents==2.0.8
rage==2.0.1
