polars==1.40.0
gpiozero==2.0.1

ipython==9.10.0
# ipython==9.12.0

# Do not touch this version
torchaudio==2.8.0

python-escpos==3.1
sounddevice==0.5.5

stamina==26.1.0
httpx==0.28.1

pytube==15.0.0
parsel==1.11.0
wikipedia==1.4.0
langchain_community==0.4.1
youtube_transcript_api==1.2.4

replicate==1.0.7
cairosvg==2.9.0

# Bas packages
hailo_apps==1.0.26
sensehat_dsp==1.0.25

# Aureka packages
multi_agents==1.1.17
llm_agents==1.1.32
rage==1.1.4
