numpy<2.0.0
polars==1.31.0
gpiozero==2.0.1
ipython==9.4.0

replicate==1.0.7
torchvision==0.22.1
torchaudio==2.7.1
python-escpos==3.1
sounddevice==0.5.2

hailo_apps @ git+ssh://git@github.com/bastiansg/hailo-apps.git@v1.0.17
sensehat_dsp @ git+https://github.com/bastiansg/sensehat-dsp.git@v1.0.20

multi_agents @ git+https://github.com/aureka-team/agents.git@v1.1.8
llm_agents @ git+ssh://git@github.com/aureka-team/llm-agents.git@v1.1.1
rage @ git+ssh://git@github.com/bastiansg/rage.git@v1.0.18
